.component-container__fire{
    background-image: url("./assets/kyojuro.jpg");
    background-size: 80vw 30.9vw;
    background-blend-mode: darken;
}
.big-card__fire-title{
    margin: 0px 15px 0px 15px;
    height: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 8px;
    color:rgba(209, 44, 22, 0.9);
    font-size: 150%;
}
.fire-wrap{
    height: 95%;
    width: 240px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.fire-component{
    height: 75%;
    width: 240px;
    padding: 15px;
    overflow:hide;
    text-align: justify;
    text-justify: inter-word;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    border-radius: 4px;
    color:#ffeb3b;
    
    background-color: rgba(14,14,14,0.3);
    backdrop-filter: blur(1px);
    transition: 0s;
    overflow: hide;
}
.fire-component__title{
    margin-bottom: 5px;
    height: fit-content;
    font-size: 1.4em;
    text-shadow: 0px 0px 10px #ff8c3b,
    0px 0px 40px #ff8c3b,
    0px 0px 80px #ff8c3b,
    0px 0px 160px #ff8c3b,
    0px 0px 240px #ff8c3b;
    transition:0.3s;
}
.fire-component_text{
    
    height: fit-content;
    font-size: 0.6em;
    overflow: hidden;
    text-shadow: 0px 0px 5px #ff8c3b;
    transition:2s;
}
.fire-component:hover{
    background-color: rgba(14,14,14,0.6);
}
.component__info{
    transition:2s;
}
.fire-component__info:hover{
    height: fit-content;
    animation-name:expand_code;
    animation-duration: 0.5s;
}
@keyframes expand_code {
    0%{
        height: 75%;
        opacity: 1;
    }
    49%{
        height: 75%;
        opacity: 0;
    }
    50%{
        height: fit-content;
        opacity: 0;
    }
    100%{
        height: fit-content;
        opacity: 1;
    }
}
/* .fire-component:hover > .fire-component_text{
    text-shadow: 0px 1px 3px #000;
    overflow: visible;
} */
 .big-card:hover > .component-container>.flame .fire-component__title{
    border-radius: 10px;
    
    
    animation-name:fire;
    animation-iteration-count: 1;
    animation-duration: 5s;
}
@keyframes fire{
    0%{
        filter: none;
    }
    30%{
        text-shadow: 0px -8px 8px #F00,
                        0px -7px 5px #F00,
                        0px -6px 10px #F00,
                        0px -5px 10px #F00,
                        0px -2px 12px rgb(255, 217, 0),
                        0px -2px 15px rgb(255, 217, 0),
                        0px 0px 15px rgb(255, 217, 0),
                        0px 0px 20px yellow,
                        0px 2px 10px #00F,
                        0px 2px 6px #00F;
        transform:scaleY(1.2);
        filter: url(#fire3);
    }
    35%{
        filter: url(#fire1);
    }
    40%{
        filter: url(#fire2);
    }
    45%{
        filter: url(#fire3);
    }
    50%{
        filter: url(#fire1);
    }
    55%{
        filter: url(#fire2);
    }
    60%{
        filter: url(#fire3);
    }
    65%{
        filter: url(#fire1);
    }
    70%{
        filter: url(#fire2);
    }
    75%{
        filter: url(#fire3);
    }
    80%{
        filter: url(#fire1);
        transform:scaleY(1.2);
        text-shadow: 0px -8px 8px #F00,
                        0px -7px 5px #F00,
                        0px -6px 10px #F00,
                        0px -5px 10px #F00,
                        0px -2px 12px rgb(255, 217, 0),
                        0px -2px 15px rgb(255, 217, 0),
                        0px 0px 15px rgb(255, 217, 0),
                        0px 0px 20px yellow,
                        0px 2px 10px #00F,
                        0px 2px 6px #00F;
    }
    100%{
        text-shadow:none;
        transform:scaleY(1);
        filter: none;
    }
}