section:nth-child(4){
    background-color: #141414;
}
.animated_neon > .big-card{
    animation-name: slide_neon;
    animation-duration: 5s;
    animation-delay: 0s;
}

@keyframes slide_neon{
    0%{
        filter: opacity(0) brightness(0);
    }
    30%{
        filter: opacity(0) brightness(0);
    }
    100%{
        filter: opacity(1) brightness(1);
    }
}
.component-container__neon{
    background-image: url("./assets/muzan3.jpg");
    background-size: 80vw 45vw;
    background-blend-mode: darken;
}
.big-card__neon-title{
    color: rgb(255, 74, 83);
    letter-spacing: 20px;
    font-size: 60px;
}

.neon-component{
    border-radius: 4px;
    background-color: rgba(70, 69, 69, 0.418);
    backdrop-filter: blur(3px);
    transition: 0.08s;
}
.neon-big-card{
    font-family: 'KoHo', sans-serif;
    /* font-weight: 1; */
    
    color: #ff2233;
    
    
    background-color: #08040e;
}
.neon-title-container{
    height:19%;
}
.neon{
    text-shadow: 0 0 1px rgba(255,22,33,1),
                 0 0 2px rgba(255,22,33,0.95),
                 0 0 3px rgba(255,22,33,0.90),
                 0 0 4px rgba(255,22,33,0.85),
                 0 0 6px rgba(255,22,33,0.8),
                 0 0 8px rgba(255,22,33,0.75),
                 0 0 10px rgba(255,22,33,0.7),
                 0 0 13px rgba(255,22,33,0.6),
                 0 0 17px rgba(255,22,33,0.5);
    -webkit-box-reflect: below -27% linear-gradient(transparent, #0008);
}


.neon-component__title, .neon-component__text{
    text-shadow: 1px 1px 3px #000;
}
