.spaceBox{
    color:transparent;
    user-select:none;
    display:inline;
}
/* Main structure */
body{
    padding: 0;
    margin: 0;
    overflow:hidden;
}
.scroll-container{
    height: 100vh;
    overflow-y: scroll;
    overflow-x: auto;
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}
section:nth-child(1){
    background-color: #158580;
}
section:nth-child(2){
    background-color: #c05040;
}
section:nth-child(3){
    background-color: #cbcb40;
}
section:nth-child(4){
    background-color: #406dc0;
}

.big-card{
    text-align: center;
    padding-top:15px 0px;
    width: 80%;
    box-shadow: 0px 4px 18px 3px black;
    border-radius: 8px;
    background-color: #ffdddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
}
.animated > .big-card{
    
    animation-name: slide;
    animation-duration: 1.5s;
}
.animated_fire > .big-card{
    animation-name: slide_fire;
    animation-duration: 1.1s;
    animation-delay: 0.5;
}
@keyframes slide{
    0%{
        transform: translateX(15vw) scale(1);
        filter: opacity(0) brightness(5);
    }
    90%{
        transform: translateX(-5px) scale(1);
        filter: opacity(100%) brightness(1);;
    }
    100%{
        transform: translateX(0) scale(1);
        filter: opacity(100%);
    }

}
@keyframes slide_fire{
    0%{
        filter: opacity(0) saturate(50);
        transform: scale(1.15);
    }
    100%{
        filter: opacity(100%);
        transform: scale(1);
    }


}

.component-container{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.component{
    margin:2px;
    height: 76%;
    width: 240px;
    padding: 15px;
    background-color: cadetblue;
    overflow:hide;
    text-align: justify;
    text-justify: inter-word;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}
.component_text{
    padding:10px;
    text-justify:inter-cluster;
}



/* Glass morphism */
.big-card__glassmorphism-title{
    margin: 0px 15px 0px 15px;
    height: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 8px;
    color:rgba(35, 100, 170,0.9);
    font-size: 150%;
}
.component-container__glassmorphism{
    background-image: url("./assets/giyu.jpg");
    background-size: 80vw 60vw;
}
.glass{
    color: #112255;
    text-shadow: 0px 1px 5px #cdcdcd;
    border-radius: 10px;
    background-color: rgba(255,220,240,0.3);
    transition: 0.9s;
    backdrop-filter: blur(8px);
    
}
.glass:hover{
    background-color: rgba(220,210,240,0.6);
    backdrop-filter: blur(11px);
    
}
.component_text{
    transition: 1.5s;
    font-size: 0.85em;
}
.glass:hover > .component_text{
    transform: scale(1.01);
    color:#202050;
    text-shadow: 0px,2px,10px,#001060;
}

/* Fire */
.component-container__fire{
    background-image: url("./assets/kyojuro.jpg");
    background-size: 80vw 30.9vw;
    background-blend-mode: darken;
}
.big-card__fire-title{
    margin: 0px 15px 0px 15px;
    height: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 8px;
    color:rgba(209, 44, 22, 0.9);
    font-size: 150%;
}
.fire-wrap{
    height: 95%;
    width: 240px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.fire-component{
    height: 75%;
    width: 240px;
    padding: 15px;
    overflow:hide;
    text-align: justify;
    text-justify: inter-word;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    border-radius: 4px;
    color:#ffeb3b;
    
    background-color: rgba(14,14,14,0.3);
    backdrop-filter: blur(1px);
    transition: 0s;
}
.fire-component__title{
    height: 19%;
    font-size: 30px;
    text-shadow: 0px 0px 10px #ff8c3b,
    0px 0px 40px #ff8c3b,
    0px 0px 80px #ff8c3b,
    0px 0px 160px #ff8c3b,
    0px 0px 240px #ff8c3b;
    transition:0.3s;
}
.fire-component_text{
    height: 80%;
    font-size: 0.7em;
    overflow: hidden;
    text-shadow: 0px 0px 5px #ff8c3b;
    transition:2s;
}
.fire-component:hover{
    background-color: rgba(14,14,14,0.6);
}
.component__info{
    transition:2s;
}
.fire-component__info:hover{
    height: fit-content;
    animation-name:expand_code;
    animation-duration: 0.5s;
}
@keyframes expand_code {
    0%{
        height: 75%;
        opacity: 1;
    }
    49%{
        height: 75%;
        opacity: 0;
    }
    50%{
        height: fit-content;
        opacity: 0;
    }
    100%{
        height: fit-content;
        opacity: 1;
    }
}
/* .fire-component:hover > .fire-component_text{
    text-shadow: 0px 1px 3px #000;
    overflow: visible;
} */
 .big-card:hover > .component-container>.flame .fire-component__title{
    border-radius: 10px;
    
    text-shadow: 0px -8px 8px #F00,
    0px -7px 5px #F00,
    0px -6px 10px #F00,
    0px -5px 10px #F00,
    0px -2px 12px rgb(255, 217, 0),
    0px -2px 15px rgb(255, 217, 0),
    0px 0px 15px rgb(255, 217, 0),
    0px 0px 20px yellow,
    0px 2px 10px #00F,
    0px 2px 6px #00F;
    animation-name:fire;
    animation-iteration-count: 1;
    animation-duration: 5s;
}
@keyframes fire{
    0%{
        filter: none;
    }
    30%{
        transform:scaleY(1.2);
        filter: url(#fire3);
    }
    35%{
        filter: url(#fire1);
    }
    40%{
        filter: url(#fire2);
    }
    45%{
        filter: url(#fire3);
    }
    50%{
        filter: url(#fire1);
    }
    55%{
        filter: url(#fire2);
    }
    60%{
        filter: url(#fire3);
    }
    65%{
        filter: url(#fire1);
    }
    70%{
        filter: url(#fire2);
    }
    75%{
        filter: url(#fire3);
    }
    80%{
        filter: url(#fire1);
        transform:scaleY(1.2);
    }
    100%{
        transform:scaleY(1);
        filter: none;
    }
}



