.spaceBox{
    color:transparent;
    user-select:none;
    display:inline;
}
/* Main structure */
*:-webkit-scrollbar-track {
    background-color: rgb(240, 74, 74);
}
body{
    padding: 0;
    margin: 0;
    overflow:hidden;
}
.scroll-container{
    height: 100vh;
    overflow-y: scroll;
    overflow-x: auto;
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}

section:nth-child(2){
    background-color: #c05040;
}
section:nth-child(3){
    background-color: #d1c737;
}
section:nth-child(4){
    background-color: #141414;
}

.big-card{
    text-align: center;
    padding-top:15px 0px;
    width: 80%;
    box-shadow: 0px 4px 18px 3px black;
    border-radius: 8px;
    background-color: #ffdddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
}

.animated_fire > .big-card{
    animation-name: slide_fire;
    animation-duration: 1.5s;
    animation-delay: 0.5;
}
.animated_thunder > .big-card{
    animation-name: slide_thunder;
    animation-duration: 15s;
    animation-delay: 0s;
    
}
.animated_thunder > .big-card > .component-container__thunder{
    animation-name: slide_zenitsu;
    animation-duration: 15s;
    animation-delay: 0s;
    
}
.animated_neon > .big-card{
    animation-name: slide_neon;
    animation-duration: 5s;
    animation-delay: 0s;
}

@keyframes slide_fire{
    0%{
        filter: opacity(0) saturate(50);
        transform: scale(1.15);
    }
    100%{
        filter: opacity(100%);
        transform: scale(1);
    }
}
@keyframes slide_thunder{
    0%{
        filter: opacity(0) brightness(5);
    }
    6%{
        filter: opacity(0) brightness(5);
        box-shadow: none;
    }
    7%{
        filter: opacity(1) brightness(5);
        box-shadow: 0px 0px 4px white,
        0px 0px 8px rgba(255, 255, 255, 0.90),
        0px 0px 12px rgba(255, 255, 255, 0.80),
        0px 0px 16px rgba(255, 255, 255, 0.70),
        0px 0px 20px rgba(255, 255, 255, 0.60),
        0px 0px 22px rgba(255, 255, 255, 0.50),
        0px 0px 24px rgba(255, 255, 255, 0.40);
    }
    8%{
        filter: opacity(0);
    }
    9%{
        filter: opacity(1);
    }
    10%{
        filter: opacity(1);
    }
    11%{
        filter: opacity(0);
    }
    12%{
        filter: opacity(1);
    }
    13%{
        filter: opacity(0);
    }
    15%{
        filter: opacity(1);
        box-shadow: 0px 0px 4px white,
        0px 0px 8px rgba(255, 255, 255, 0.90),
        0px 0px 12px rgba(255, 255, 255, 0.80),
        0px 0px 16px rgba(255, 255, 255, 0.70),
        0px 0px 20px rgba(255, 255, 255, 0.60),
        0px 0px 22px rgba(255, 255, 255, 0.50),
        0px 0px 24px rgba(255, 255, 255, 0.40);
    }
    100%{
        filter: opacity(1) brightness(1);
        box-shadow: 0px 4px 18px 3px black;
    }
}
@keyframes slide_zenitsu{
    0%{
        filter: saturate(5) blur(20px);
    }
    6%{
        filter: saturate(5);
        text-shadow: 0px 0px 4px white,
        0px 0px 8px rgba(255, 255, 255, 0.90),
        0px 0px 12px rgba(255, 255, 255, 0.80),
        0px 0px 16px rgba(255, 255, 255, 0.70),
        0px 0px 18px rgba(255, 255, 255, 0.60),
        0px 0px 20px rgba(255, 255, 255, 0.50),
        0px 0px 21px rgba(255, 255, 255, 0.40);
    }
    15%{
        
        filter: saturate(5) blur(10px);
    }
    40%{
        filter: saturate(1) blur(0px);
        text-shadow: 0px 0px 4px white,
        0px 0px 8px rgba(255, 255, 255, 0.90),
        0px 0px 12px rgba(255, 255, 255, 0.80),
        0px 0px 16px rgba(255, 255, 255, 0.70),
        0px 0px 18px rgba(255, 255, 255, 0.60),
        0px 0px 20px rgba(255, 255, 255, 0.50),
        0px 0px 21px rgba(255, 255, 255, 0.40);
    }
    100%{
        text-shadow: none;
        filter: saturate(1);
    }
}
@keyframes slide_neon{
    0%{
        filter: opacity(0) brightness(0);
    }
    30%{
        filter: opacity(0) brightness(0);
    }
    100%{
        filter: opacity(1) brightness(1);
    }
}

.component-container{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.component{
    margin:2px;
    height: 76%;
    width: 240px;
    padding: 15px;
    background-color: cadetblue;
    overflow:hide;
    text-align: justify;
    text-justify: inter-word;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}
.component_text{
    padding:10px;
    text-justify:inter-cluster;
}





/* Fire */


/* Thunder */
.component-container__thunder{
    background-image: url("./assets/zenitsu.jpg");
    background-size: 80vw 51.536vw;
    background-blend-mode: darken;
}
.big-card__thunder-title{
    margin: 0px 15px 0px 15px;
    height: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 8px;
    color:rgba(112, 124, 40, 0.9);
    font-size: 150%;
}

.thunder-component{
    height: 75%;
    width: 240px;
    padding: 15px;
    overflow:hide;
    text-align: justify;
    text-justify: inter-word;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    border-radius: 4px;
    color:#f5ed7a;
    
    background-color: rgba(99, 166, 243, 0.15);
    backdrop-filter: blur(3px);
    transition: 0.08s;
}
.thunder-component__text, .thunder-component__title{
    text-shadow: 1px 1px 3px #000;
}
.thunder-component:hover{
    backdrop-filter: blur(8px);
    text-shadow: 1px 1px 4px #000;
}

/* Neon */
.neon-big-card{
    font-family: 'KoHo', sans-serif;
    /* font-weight: 1; */
    
    color: #ff2233;
    
    
    background-color: #08040e;
}
.neon-title-container{
    height:19%;
}
.neon{
    text-shadow: 0 0 1px rgba(255,22,33,1),
                 0 0 2px rgba(255,22,33,0.95),
                 0 0 3px rgba(255,22,33,0.90),
                 0 0 4px rgba(255,22,33,0.85),
                 0 0 6px rgba(255,22,33,0.8),
                 0 0 8px rgba(255,22,33,0.75),
                 0 0 10px rgba(255,22,33,0.7),
                 0 0 13px rgba(255,22,33,0.6),
                 0 0 17px rgba(255,22,33,0.5);
    -webkit-box-reflect: below -27% linear-gradient(transparent, #0008);
}
.big-card__neon-title{
    margin: 0px;
    /* height: 100%; */
    /* overflow:hidden; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    letter-spacing: 20px;
    font-size: 60px;
    color: rgb(255, 74, 83);
}

.component-container__neon{
    height: 80%;
    background-image: url("./assets/muzan3.jpg");
    background-size: 80vw 45vw;
    background-blend-mode: darken;
    /* filter: saturate(5); */
    /* border:2px solid white; */
}

.neon-component{
    height: 75%;
    width: 240px;
    padding: 15px;
    overflow:hide;
    text-align: justify;
    text-justify: inter-word;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    border-radius: 4px;
    /* filter: brightness(10) saturate(1); */
    
    background-color: rgba(70, 69, 69, 0.418);
    backdrop-filter: blur(3px);
    transition: 0.08s;
}

.neon-component__title, .neon-component__text{
    text-shadow: 1px 1px 3px #000;
}

