section:nth-child(1){
    background-color: #158580;
}
.animated > .big-card{
    animation-name: slide;
    animation-duration: 1.5s;
    animation-delay: 0;
}

@keyframes slide{
    0%{
        transform: translateX(15vw) scale(1);
        filter: opacity(0) brightness(5);
    }
    90%{
        transform: translateX(-5px) scale(1);
        filter: opacity(100%) brightness(1);;
    }
    100%{
        transform: translateX(0) scale(1);
        filter: opacity(100%);
    }
}
.component-container__glassmorphism{
    background-image: url("./assets/giyu.jpg");
    background-size: 80vw 60vw;
    /*  */
}
.big-card__glassmorphism-title{
    color:rgba(35, 100, 170,0.9);
}
.water_component{
    background-color: cadetblue;
    color: #112255;
    text-shadow: 0px 1px 5px #cdcdcd;
    border-radius: 10px;
    background-color: rgba(255,220,240,0.3);
    transition: 0.9s;
    backdrop-filter: blur(8px);
}

.component_text{
    padding:10px;
    text-justify:inter-cluster;
}

.water_component:hover{
    background-color: rgba(220,210,240,0.6);
    backdrop-filter: blur(11px);
}
.component_text{
    transition: 1.5s;
    font-size: 0.85em;
}
.glass:hover > .component_text{
    transform: scale(1.01);
    color:#202050;
    text-shadow: 0px,2px,10px,#001060;
}

